<section class="form">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center mt-3">
                <div class="form__icon"></div>
                <button id="btn_first" class="form__btn">Змінити фото</button>
                <button class="form__btn_last">Видалити</button>

            </div>
            <div class="col-3">
                <form>
                    <input class="form__input" type="text" id="fname" name="fname" placeholder="Наталія"><br>
                    <input class="form__input" type="text" id="lname" name="lname" placeholder="Наливайко"><br><br>


            </div>
            <div class="col-12">
                <h2>Про мене</h2>
                <textarea>Вітаю, мене звати Наталія. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
            </div>
            <div class="col-12">
                <h2>Локація</h2>
                <input class="form__input" type="text" id="lname" name="lname" placeholder="Київ, Україна">
            </div>
            <div class="col-12 mt-5">
                <h2>Мови спілкування</h2>
                <select name="lang">
                    <option value="volvo">Українська</option>
                    <option value="saab">Англійська</option>
                    <option value="opel">Іспанська</option>
                    <option value="audi">Італійська</option>
                    <option value="audi">Португальська</option>
                    <option value="audi">Німецька</option>
                </select>
            </div>
            <div class="col-12">
                <h2>Досвід роботи</h2>
            </div>
            <div class="col-md-12 col-lg-6 d-flex">
                <input class="form__chekbox" type="checkbox" name="chek1">
                <label id="chek" for="chek1">Без досвіду роботи</label><br>
                <input class="form__chekbox" type="checkbox" name="chek2">
                <label for="chek2">Від 3 до 6 років</label><br>
            </div>
            <div class="col-md-12 col-lg-7 d-flex mt-2">
                <input class="form__chekbox" type="checkbox" name="chek3">
                <label id="chek_last" for="chek3">Від 1 до 3 років</label><br>
                <input class="form__chekbox" type="checkbox" name="chek4">
                <label for="chek4">Більше 6 років</label><br>
            </div>
            <div class="col-12 mt-5">
                <h2>Термін, який готова працювати</h2>
                <input class="form__chekbox" type="checkbox" name="chek3">
                <label for="chek3">до 10 днів</label><br>
                <input class="form__chekbox" type="checkbox" name="chek4">
                <label for="chek4">від 10 днів і більше</label><br>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <input class="form__btn_main" type="submit" value="Зберегти зміни">
            </div>
            </form>
        </div>
    </div>
</section>